html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

input[type=text] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

gmp-map-3d {
  height: 100%;
}

.pac-controls {
  display: inline-block;
  padding: 0px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
  /* position: absolute;
  left: 10px;
  top: 50px;
  z-index: 1000; */
}

#pac-container {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 12px;
  border-radius: 2px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100%;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#api-key-input {
    width: 400px;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
}